@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* App Base */

  --g-deg: 225deg;

  /* Primary Colors */

  --black: 0, 0%, 3%;
  --white: 0, 0%, 100%;
  --tan: 42, 100%, 98%;

  --grey: 0, 0%, 44%;
  --grey-light: 0, 0%, 85%;
  --grey-lighter: 0, 0%, 95%;

  --turtle-blue: 228, 81%, 61%;
  --turtle-blue-dark: 228, 58%, 45%;
  --turtle-blue-light: 228, 82%, 86%;

  /* Secondary Colors */

  --red: 0, 76%, 46%;
  --red-light: 0, 69%, 94%;
  --red-gradient: linear-gradient(
    var(--g-deg),
    hsl(var(--white)) 0%,
    hsl(var(--red-light)) 100%
  );

  --green: 130, 48%, 33%;
  --green-light: 129, 37%, 93%;
  --green-gradient: linear-gradient(
    var(--g-deg),
    hsl(var(--white)) 0%,
    hsl(var(--green-light)) 100%
  );

  --yellow: 36, 93%, 30%;
  --yellow-light: 36, 87%, 88%;
  --yellow-gradient: linear-gradient(
    var(--g-deg),
    hsl(var(--white)) 0%,
    hsl(var(--yellow-light)) 100%
  );

  --purple: 266, 79%, 48%;
  --purple-light: 266, 79%, 93%;
  --purple-gradient: linear-gradient(
    var(--g-deg),
    hsl(var(--white)) 0%,
    hsl(var(--purple-light)) 100%
  );

  --teal: 184, 83%, 28%;
  --teal-light: 184, 79%, 93%;
  --teal-gradient: linear-gradient(
    var(--g-deg),
    hsl(var(--white)) 0%,
    hsl(var(--teal-light)) 100%
  );

  /* Custom Card Colors */

  --custom-blue: 228, 82%, 76%;
  --custom-yellow: 35, 90%, 81%;
  --custom-teal: 184, 41%, 70%;

  /* Shadcn */

  --background: var(--white);
  --foreground: var(--black);

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --border: var(--black);
  --input: var(--black);

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: var(--grey-lighter);
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --ring: var(--turtle-blue-light);

  --radius: 0.5rem;
}

@layer base {
  html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  html,
  body {
    color: hsl(var(--foreground));
    background: hsl(var(--background));
    scroll-behavior: smooth;
  }

  body {
    @apply grow leading-regular;
  }
}

@layer components {
  * {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }

  .container {
    @apply max-w-full md:max-w-full lg:max-w-full;
  }

  .link {
    @apply text-turtle-blue underline underline-offset-2 hover:text-turtle-blue-dark active:text-black;
  }

  /* .card:-webkit-scrollbar: {
    width: 0;
  } */
}
